@page "/"

<PageTitle>Blazor School code sample</PageTitle>

<h1>Welcome to Blazor School!</h1>
<p>Demonstrate how to authenticate user with Google OAuth 2.0 in Blazor Server .NET 7. - Blazor School</p>
<p>For additional tutorials on Blazor Server, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<div><NavLink href="basic-login">Basic Login</NavLink></div>
<div><NavLink href="sign-in-with-custom-button">Login with Google (custom button)</NavLink></div>
<div><NavLink href="sign-in-with-rendered-button">Login with Google (rendered button)</NavLink></div>
<div><NavLink href="authentication-result">Authentication Result</NavLink></div>
<div><NavLink href="logout">Logout</NavLink></div>