@page "/sign-in-with-custom-button"
@using AuthenticationWithGoogle.Utilities;
@using Microsoft.AspNetCore.Components.Authorization;
@inject IJSRuntime JSRuntime
@inject BlazorSchoolAuthenticationStateProvider BlazorSchoolAuthenticationStateProvider

<button type="button" @onclick="SignInWithGoogleAsync">Sign In with Google</button>
<div><NavLink href="authentication-result">Go to Authentication Result</NavLink></div>

@code {
    public async Task SignInWithGoogleAsync()
    {
        var blazorSchoolAuthenticationStateProvider = DotNetObjectReference.Create<BlazorSchoolAuthenticationStateProvider>(BlazorSchoolAuthenticationStateProvider);
        await JSRuntime.InvokeVoidAsync("blazorSchoolGoogleInitialize", "686658243135-3s5lnkgih8so1ckhbhrntuilp2vrf161.apps.googleusercontent.com", blazorSchoolAuthenticationStateProvider);
        //The following code might not work in some cases
        //await JSRuntime.InvokeVoidAsync("google.accounts.id.prompt");
        
        //The following code will execute the prompt function and print the reason of not working to the console if fails.
        await JSRuntime.InvokeVoidAsync("blazorSchoolGooglePrompt");
    }
}