@page "/logout"
@using AuthenticationWithGoogle.Utilities;
@inject BlazorSchoolAuthenticationStateProvider BlazorSchoolAuthenticationStateProvider

<h3>Logout</h3>
<button @onclick="BlazorSchoolAuthenticationStateProvider.LogoutAsync">Logout</button>
