@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

<p>Avoid this common mistake in Blazor WebAssembly .NET 7 - Blazor School</p>
<p>For additional tutorials on Blazor WebAssembly, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<div><NavLink href="login">Login</NavLink></div>
<div><NavLink href="logout">Logout</NavLink></div>
<div><NavLink href="authentication-result-mistake">Authentication Result Mistake</NavLink></div>