@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

<p>Demonstrates how to authorize on individual component in Blazor Server .NET 7 - Blazor School</p>
<p>For additional tutorials on Blazor Server, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>

<div>Authentication</div>
<div><NavLink href="login">Login</NavLink></div>
<div><NavLink href="logout">Logout</NavLink></div>
<div><NavLink href="authentication-result">Authentication Result</NavLink></div>
<div>Authorization</div>
<div><NavLink href="for-everyone">Page for Everyone</NavLink></div>
<div><NavLink href="for-logged-in-users">Page for Logged-in Users</NavLink></div>
<div><NavLink href="for-users-in-policy-ui-elements">Page for Users in Policy</NavLink></div>
<div><NavLink href="for-users-with-allowed-roles">Page for Users with Allowed Roles</NavLink></div>